ansiconv
autopep8
bqplot
brewer2mpl
chardet
codecov
cytoolz
entrypoints
geopy
ggplot
keyring
jyquickhelper
lifelines
lightning-python
metakernel
mpld3
pkgtools
plotly
pygal
pygal_maps_fr
pylzma
pyquickhelper
pyreadline
requests-oauthlib
shapely
TPOT
treeinterpreter
xlrd
xmltodict
