antlr4-python3-runtime
autopep8
babel!=2.0
blockdiag
bqplot
category_encoders
coverage
cytoolz
ensae_teaching_cs
geopy
ggplot
jyquickhelper
lifelines
lightgbm
lightning-python
mlstatpy
mutagen
mpld3
openpyxl
plotly
pycodestyle>=2.0.0
pydocstyle
pyensae
pygal
pygal_maps_fr
pylzma
pymmails
pymyinstall
pyquickhelper>1.5.2122
pyrsslocal
pyshp
semantic_version
shapely
sphinx-gallery
sphinxcontrib-images
sphinxcontrib-imagesvg
sphinxcontrib-jsdemo
sphinxjp.themes.basicstrap
sphinxjp.themes.revealjs
sphinxjp.themes.sphinxjp
TPOT
tqdm
treeinterpreter
unify
wheel
xlrd
