basemap
biopython 
bokeh
Cython
datashader
datashape
flake8
ipykernel
ipyparallel
ipython
ipython_genutils
ipywidgets
jupyter
jupyter_client
jupyter_console
jupyter_core
matplotlib
mpld3
nbformat
nbpresent
networkx
numba
numpy
odo
openpyxl
pandas
path.py
patsy
pep8
pillow
pyzmq
rasterio
reportlab 
requests
scikit-image
seaborn
shapely
six
Sphinx
statsmodels
sympy
toolz
traitlets
xarray
