# conda
biopython
bokeh
cartopy
cffi
Cython
dask[complete]
datashape
jupyter
matplotlib
nbconvert>=6.0.7,!=6.3.0,!=6.4.0,!=6.4.1,!=6.4.2,!=6.5.0
networkx
notebook
numba
numpy
pandas
pillow
pyproj
pyzmq
reportlab
scikit-learn
scipy
seaborn
sphinx<6
sphinx-gallery
sympy
xarray

# other
bqplot
cairocffi
cairosvg
category_encoders
chardet
cloudpickle
coverage
cytoolz
ensae_teaching_cs
folium>=0.5
geopy
ggplot
jyquickhelper
lifelines
lightgbm
lightning-python
mlstatpy
nbconvert!=6.3.0
openpyxl
plotly
pycodestyle
pydata_sphinx_theme
pyensae>=1.2.788
pygal
pygal_maps_fr
pylint>=2.14.0
pylzma
pymmails
pyquickhelper>=1.10
pyquicksetup
pyrsslocal
pyshp
qgrid
shapely
sphinx-bootstrap-theme
TPOT
treeinterpreter
wheel
xlrd
