body {
  font-size: 18px;
}

table {
	border-color: #dddddd;
	border-collapse: collapse;
	border: 1px solid;
	border-spacing: 2x;
	padding: 4px;
}

th, td {
	border-color: #dddddd;
	border-collapse: collapse;
    border: 1px solid #dddddd;
	border-spacing: 1px;
	padding: 2px;
}

pre.highlight-default {
	background-color: #b5b5b5;
}
