body {
  font-size: 18px;
}

table {
    border: 2px solid grey;
	border-spacing: 2px;
}

th, td {
    border: 1px solid #dddddd;
	border-spacing: 1px;
}

pre.highlight-default {
	background-color: #b5b5b5;
}
