version: 2
jobs:
  build:
    docker:
      - image: circleci/python:3.8.3
    
    working_directory: ~/repo
    
    steps:
      - checkout

      - restore_cache:
          keys:
          - v2-dependencies-{{ checksum "requirements.txt" }}
          - v2-dependencies-

      - run:
          name: Install pandoc
          command: |
                    sudo apt-get update 
                    wget https://github.com/jgm/pandoc/releases/download/2.2.1/pandoc-2.2.1-1-amd64.deb
                    sudo dpkg -i pandoc-2.2.1-1-amd64.deb
          
      - run:
          name: Install tex
          command: |
                    sudo apt-get install -y texlive
                    sudo apt-get install -y texlive-latex-extra
                    sudo apt-get install -y texlive-lang-french
                    sudo apt-get install -y texlive-xetex
                    sudo apt-get install -y dvipng
          
      - run:
          name: Install 7z
          command: |
                    sudo apt-get install -y p7zip-full
          
      - run:
          name: Install InkScape
          command: |
                    sudo apt-get install -y inkscape
          
      - run:
          name: Install graphviz
          command: |
                    sudo apt-get install -y graphviz

      - run:
          name: install avconv (ffmpeg)
          command: |
                    sudo apt-get install libav-tools

      - run:
          name: Install pyproj for cartopy
          command: |
            sudo apt-get install -y libproj-dev proj-bin proj-data libgeos-dev python-gdal gdal-bin
            python3 -m venv venv
            . venv/bin/activate
            pip install pyproj

      - run:
          name: install dependencies (1) - requirements_conda
          command: |
            python3 -m venv venv
            . venv/bin/activate
            pip install -r requirements_conda.txt
            
      - run:
          name: install dependencies (2) - requirements
          command: |
            python3 -m venv venv
            . venv/bin/activate
            pip install -r requirements.txt

      - run:
          name: install dependencies (3) - cairo
          command: |
            python3 -m venv venv
            . venv/bin/activate
            pip install cairocffi cairosvg
            
      - save_cache:
          paths:
            - ./venv
          key: v2-dependencies-{{ checksum "requirements.txt" }}
        
      - run:
          name: run tests
          command: |
            . venv/bin/activate
            export PYTHONPATH=src
            python setup.py unittests

      - run:
          name: wheel
          command: |
            . venv/bin/activate
            export PYTHONPATH=src
            python setup.py bdist_wheel
            mkdir -p test-reports/dist
            cp dist/*.whl test-reports/dist

      - run:
          name: documentation
          command: |
            . venv/bin/activate
            export PYTHONPATH=src
            python setup.py build_sphinx
            
      - run:
          name: copy documentation
          command: |
            mkdir -p test-reports/doc
            zip -r -9  test-reports/doc/documentation_html.zip _doc/sphinxdoc/build/html
            
      - store_artifacts:
          path: test-reports
          destination: test-reports